[pbsmrtpipe:pipeline]

id = dev_mh_toy_01
description = Kris Nyquist Dev pipeline
author = mkocher, knyquist


pipeline_xml = workflow_id.xml
preset_xml = preset.xml

[entry_points]
cond_json = ../example-reseq-conditions.json


[tests]
# Tests can be loaded from any python module
# specifically, Any TestBase subclass in pbsmrtpipe.teskit.core.test_zero will be loaded
pbsmrtpipe.testkit.core = test_zero, test_resources, test_datastore
